
body {
    // Admin bar
    &.wp-admin {
      #dev-studio-bar {
        top: 32px;
        @media only screen and (max-width: 782px) {
          top:46px;
        }
        &.expand {
        }
      }
    }
    // Public with admin bar
    &:not(.wp-admin) {
      &.admin-bar {
        #dev-studio-bar {
          top: 32px;
          @media only screen and (max-width: 782px) {
            top:46px;
          }
        }
      }
    }

    &.ds-bar-expand {
      #dev-studio-bar {
        height: $ds-bar-height;
        .ds-bar-wrap {
          font-size:13px;
          height: $ds-bar-height;
          line-height: 1.4em;
        }
      }
      #wpwrap {
        #adminmenuwrap {
          padding-top: $ds-bar-height;
        }
        #wpbody {
          padding-top: $ds-bar-height;
        }
      }
    }

}

#dev-studio-bar {
  height:0;
  display:flex;
  position: fixed;
  width: 100%;
  left: 0;
  top:0;
  z-index: 9999;
  border-top:0 $ds-color-light-blue solid;
  background-color:$ds-color-blue;

  div, span:not(.fa), td, select, input, textarea {
    font-family: 'Roboto',sans-serif !important;
    line-height:1em;
  }

  .ds-bar-icon {
    position:absolute;
    height:12px !important;
    max-height:12px;
    color:#fff;
    padding:0 7px 0 7px !important;
    left:50%;
    transform: translateX(-50%);
    line-height: 12px !important;
    bottom:-11px;
    cursor:pointer;
    z-index: 0;
    overflow:hidden;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    background-color: $ds-color-blue;

    .fa {
      position:relative;
      font-family:FontAwesome !important;
      font-size:11px !important;
      line-height: 10px !important;
      font-weight:normal !important;

      display:block;
    }
  }
  .ds-bar-wrap {
    display: flex;
    height: 0;
    overflow: hidden;

    .ds-bar-ds {
      padding: 4px 5px 0 4px;
      background-color: #016797;
      height: 26px;
      cursor: pointer;
      line-height: 0;
      img {
        width:17px !important;
        height:17px !important;
        max-width: none;
        max-height: none;
      }
    }
    .ds-bar-inner {

      > div {
        color: #fff;
        display: inline-block;
        padding: 4px 7px 0 7px;
        font-size: 13px;
        line-height: 1.4em;
        .fa {
          padding-right: 3px;
          font-size: 13px;
        }
      }
    }
  }
}