
#dev-studio {

  #ds-data-container {
    display: flex;
    align-items:stretch;
    border-radius: 1px;
    border: 2px #ddd solid;
    background-color: #fff;
    flex-basis: 100%;
    min-height: 0;

    &.ds-col-2 {
      #dev-studio-data,
      #dev-studio-data-info {
        flex-basis: 50%;
        width:auto;
      }
      #dev-studio-tools {
        border-right:1px #ddd dashed;
      }
      #dev-studio-data-info {
        padding: 0 3px 3px 3px;
      }
    }
  }

  #dev-studio-data,
  #dev-studio-data-info {
    flex-direction: column;
    flex-wrap: wrap;
    overflow: auto;
    position:relative;
    transition: width 1s;

    &.ds-col-2 {
      flex-basis:50%;
    }

    h2, h3 {
      border-radius:3px;
      margin: 10px 0 7px 5px;
      display:inline-block;
      color:$ds-color-blue;
      border:1px $ds-color-blue dashed;
    }
    div.title {
      margin: 5px 0 10px 5px;
      font-size:14px;
      color:$ds-color-blue;
      position:relative;
      line-height: 1.3em;
      &:before {
        content:'';
        position:absolute;
        bottom:-1px;
        left:0;
        right:0;
        width:50px;
        border-bottom:1px $ds-color-light-blue solid;
      }
    }
    h2 {
      font-size:15px;
      padding:5px 10px;
      line-height: 1.4em;
    }
    h3 {
      font-size:13px;
      padding:4px 8px;
      line-height: 1.4em
    }
    .message {
      display:inline-block;
      color:#999;
      margin:10px;
      font-size:14px;
      font-style:italic;
    }

  }

  #dev-studio-data {
    padding:3px;
    flex-basis:100%;

    .ds-panel {
      display:flex;
      border-bottom: 1px #f2f2f2 solid;
      margin-bottom:5px;
      padding:3px 0 5px 3px;
      .ds-filter {
        display:flex;
        align-items:stretch;
        margin-right:20px;

        .ds-filter-label {
          margin-right:10px;
          line-height:1.8em;
        }

      }
      select {
        height:auto;
        padding:3px 5px;
        font-size:13px;
      }
      input[type=radio], input[type=checkbox] {
        margin-top:3px;
      }
    }

    .ds-phpinfo {
      td, th {
        font-size: 100% !important;
        padding:4px 6px !important;
        color:#333 !important;
        line-height:1.4em;
      }
      h2 {
        border:0 !important;
        a {
          font-weight:bold !important;
        }
      }
    }




  }

  #dev-studio-data-info {
    padding:0;
    width:0;

    .ds-data-info-control {
      text-align: right;
      font-size: 18px;
      line-height: 20px;
      border-bottom: 1px #f2f2f2 solid;
      padding:1px 4px 3px 0;
      .fa {
        font-size: 15px;
      }
    }
    .ds-data-info {
      /*padding:5px;*/
    }
  }
}

.ds-ui-block, .ds-ui-block-info {
  border:2px #ddd solid;
  position:relative;
  margin:10px 0;
  padding:18px 10px 5px 10px;
  border-radius:2px;

  .ds-ui-block-number {
    position:absolute;
    left:-5px;
    top:-5px;
    background-color:$ds-color-blue;
    color:#fff !important;
    padding-top:3px;
    border-radius:2px;
    width:22px;
    height:22px;
    text-align:center;
    font-size:11px;

  }
  .ds-ui-lr {
    display:flex;
    width:100%;
    background-color:#fff;

    .ds-ui-left, .ds-ui-right {
      flex-basis:50%;
      overflow: auto;
    }
    .ds-ui-left {
      border-right:1px #ddd dashed;
      padding-right:5px;

    }
    .ds-ui-right {
      padding:0 0 5px 5px;
      /*border:1px red solid;*/

    }
    .ds-ui-label {
      padding:3px 6px;
      /*background-color:#ccdce3;*/
      color:#ccc;
      font-size:12px;
      display:inline-block;
      border:1px #ddd solid;
      border-radius:2px;


    }
    .ds-ui-data {
      margin-top:10px;
      margin-bottom:10px;
      font-size:13px;
    }
    .ds-ui-info {
      padding-top:3px;
      border-top:1px #ddd solid;
    }
  }

  .ds-ui-info {
    font-size:11px;
    color:#888 !important;
  }

  td {
    padding-left:4px;
  }

  &.ds-hl {
    border-color:#68c55b;
    .ds-ui-block-number {
      background-color: #68c55b;
    }

  }

  &.ds-ui-link:hover, &.ds-active {
    border-color:$ds-color-blue;
    cursor:pointer;
    -webkit-box-shadow: 0 0 6px -1px rgba(3,69,99,1);
    -moz-box-shadow: 0 0 6px -1px rgba(3,69,99,1);
    box-shadow: 0 0 6px -1px rgba(3,69,99,1);
    .ds-ui-block-number {
      background-color:$ds-color-blue;
    }
  }
}

.ds-ui-block-info-wr {
  display:none;
}



