
#dev-studio {
  button {
    height: 30px;
    border-radius: 2px;
    cursor: pointer;
    background-color: $ds-color-light-blue;
    border:0 transparent solid;
    color: #fff !important;
    line-height:1em;
    padding: 3px 15px 0 15px;
    font-size:13px;
    font-weight:normal;
    margin:2px 0 0 0;

    &:hover {
      background-color: #69c5f9;
      border-color:$ds-color-lightest-blue;
    }
  }
  select {
    font-size:13px;
    border-radius:1px;
    height:25px;

  }
  input[type=text], input[type=email] {
    color: $ds-color-blue;
    font-size:14px;
    margin-right:10px;
    margin-top:1px;
    padding:3px 5px;
    border-radius:2px;
    border:2px $ds-color-blue solid;
    transition:all .5s;
    display:inline-block;
    height:30px;
    &:hover {
      border-color:$ds-color-light-blue;
    }

  }
  input[type=radio], input[type=checkbox] {
    border: 1px solid #b4b9be;
    background: #fff;
    color: #555;
    clear: none;
    cursor: pointer;
    display: inline-block;
    line-height: 0;
    height: 16px;
    margin: -4px 4px 0 0;
    outline: 0;
    padding: 0 !important;
    text-align: center;
    vertical-align: middle;
    width: 16px;
    min-width: 16px;
    -webkit-appearance: none;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, .1);
    transition: .05s border-color ease-in-out;
  }
  input[type=checkbox]:checked:before {
    content: "\f147";
    margin: -3px 0 0 -4px;
    color: #1e8cbe;
  }
  input[type=radio]:checked:before, input[type=checkbox]:checked:before {
    float: left;
    display: inline-block;
    vertical-align: middle;
    width: 16px;
    font: 400 21px/1 dashicons;
    speak: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #417a96;
    opacity: 1; /* Firefox */
  }

  input:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #417a96;
  }

  input::-ms-input-placeholder { /* Microsoft Edge */
    color: #417a96;
  }

  .ds-not-validated {
    border-color: red !important;
  }
}