
#dev-studio {

  .ds-header {

    display: flex;
    flex-direction: column;
    height:40px;
    min-height: 40px;

    .ds-header-bar {
      background-color:#f5f5f5;
      display: flex;
      align-items:stretch;

      #ds-ajax {
        padding:10px 10px 0 10px;
        font-size:13px;
        font-weight:bold;
        background-color: #f2f2f2;
        cursor:pointer;
        height:40px;
        max-height:40px;
        line-height: 1.6em;

        &.ds-active,
        &:not(.ds-active):hover {
          color:#fff;
          background-color:$ds-color-orange;
        }

      }
      #ds-ajax-test {
        padding:6px 5px 0 5px;
        color:gray;
        height:26px;
        font-size:12px;
        cursor:pointer;
        display:none;
        div {
          border:1px #999 solid;
          padding:4px 7px;
          border-radius:2px;
          color:#666;
          line-height: 1.5em;
          &:hover {
            background-color: #eee;
          }
        }
        &.ds-show {
          display:block;
        }
      }

      .ds-checkpoints {
        display: flex;
        align-items: center;
        background-color:#eaeaea;
        padding:0 10px;
        min-width:210px;
        height:40px;

        .ds-select {
          display: flex;
          select {
            width: 175px;
            max-width: 175px;
            border-radius:1px;
            display: inline-block;
            height: 25px;
            padding: 3px 5px;
            line-height: 1;
            color: #444;
            vertical-align: middle;
            background: #fff;
          }

        }
        .ds-icons {
          display: flex;
          margin-left:5px;
          .fa {
            font-size:18px;
            color:#999;
            &:hover {
              color:$ds-color-orange;
              cursor:pointer;
            }


          }
        }
        &.ds-active {
          background-color:#fff7da;
          .fa {
            color:$ds-color-orange;
          }
        }
      }
    }

    // Buttons
    .ds-buttons {
      float: right;
      vertical-align: top;
      margin-right: 10px;
      transition: 1s;
    }
  }
}
