
// Bar
$ds-bar-height: 26px;

// Colors

$ds-color: #444;
$ds-color-blue: #0073aa;
$ds-color-light-blue: #59bef8;
$ds-color-lightest-blue: #cae2f2;
$ds-color-middle-blue: #3ba3df;

$ds-color-orange: #edb631;
$ds-color-light-orange: #ffdc88;
